{% extends 'main/base.html' %}
{% block content %}
{% load static %}
<main class="main">

    <!-- Blog Posts Section -->
    <section id="blog-posts" class="blog-posts section">
        <div class="container">
            <div class="row gy-4">
                {% for post in posts %}
                <div class="col-lg-4">
                    <article>
                        <div class="post-img">
                            <img src="{% static post.image %}" alt="" class="img-fluid">
                        </div>

                        <p class="post-category">{{ post.category }}</p>

                        <h2 class="title">
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <img src="{% static post.author_image %}" alt="" class="img-fluid post-author-img flex-shrink-0">
                            <div class="post-meta">
                                <p class="post-author">{{ post.author }}</p>
                                <p class="post-date">
                                    <time datetime="{{ post.date|date:'Y-m-d' }}">{{ post.date|date:'M d, Y' }}</time>
                                </p>
                            </div>
                        </div>
                    </article>
                </div><!-- End post list item -->
                {% endfor %}
            </div>
        </div>
    </section><!-- /Blog Posts Section -->

</main>
{% endblock %}
